body{
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Pavanam";
}

.logo-text{
  font-weight: bold;
  font-family: "Satisfy";
  font-size: 25px;
}

.navbar {
  margin-bottom:0;
  border:none;
}

.navbar-brand .glyphicon {
  margin-right:6px;
}

.navbar-default .navbar-nav > li > a {
  background-color: #6ac4db;
  border-radius: 42px;
  padding: 5px 14px;
  margin: 8px 0;
  font-size: 15px;
  color: white;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: #9349cc;
  border-radius: 42px;
  padding: 5px 14px;
  margin: 8px 0;
  font-size: 15px;
  color: white;
}

.navbar-default .navbar-toggle {
  background-color: #6ac4db;
  border-radius: 42px;
}

.navbar-default .navbar-toggle > a {
  color: white;
}

.hero {
  background-image: linear-gradient(150deg, #5ee7df 0%, #963fcb 70%);
  background-size:cover;
  border:none;
  height: 100vh;
}

td {
  padding: 15px 100px 0 5px;
}

.text-bold{
  font-weight: bold;
}

@media (max-width:992px) {
  .jumbotron .container {
    margin-top: 130px !important;
  }
  .title{
    font-size: 50px;
  }
}

.hero .get-it h1, .hero .get-it p {
  color:#fff;
  text-shadow:2px 2px 3px rgba(0,0,0,0.3);
  margin-bottom:40px;
}

.hero .get-it .btn {
  margin-left:10px;
  margin-bottom:10px;
  text-shadow:none;
}

div.iphone-mockup {
  position:relative;
  max-width:240px;
  margin:20px;
  display:inline-block;
}

.iphone-mockup img.device {
  width:65rem;
  height:auto;
}

.iphone-mockup .screen {
  position:absolute;
  width:88%;
  height:77%;
  top:12%;
  border-radius:2px;
  left:6%;
  border:1px solid #444;
  background-color:#aaa;
  overflow:hidden;
  background-size:cover;
  background-position:center;
}

.iphone-mockup .screen:before {
  content:'';
  background-color:#fff;
  position:absolute;
  width:70%;
  height:140%;
  top:-12%;
  right:-60%;
  transform:rotate(-19deg);
  opacity:0.2;
}

.icon-feature {
  text-align:center;
}

.icon-feature .glyphicon {
  font-size:60px;
}

section.features {
  background-color:#369;
  padding:40px 0;
  color:#fff;
}

.features h2 {
  color:#fff;
}

.features .icon-features {
  margin-top:15px;
}

.testimonials blockquote {
  text-align:center;
}

h4{
  margin-top: 25px;
}

section.testimonials {
  margin:50px 0;
}

.site-footer {
  padding:20px 0;
  text-align:center;
}

@media (min-width:768px) {
  .site-footer h5 {
    text-align:left;
  }
}

.site-footer h5 {
  color:inherit;
  font-size:20px;
}

.site-footer .social-icons a:hover {
  opacity:1;
}

.site-footer .social-icons a {
  display:inline-block;
  width:32px;
  border:none;
  font-size:20px;
  border-radius:50%;
  margin:4px;
  color:#fff;
  text-align:center;
  background-color:#798FA5;
  height:32px;
  opacity:0.8;
  line-height:32px;
}

.text-white{
  color: white;
}

@media (min-width:768px) {
  .site-footer .social-icons {
    text-align:right;
  }
}

div.android-mockup {
  position:relative;
}

img.device.android {
  width:25rem;
  position:absolute;
}

span.maujor {
  font-weight:bold;
}

.title-header {
  font-family: "Satisfy";
  font-size: 60px;
}

.subtitle-header {
  font-size: 24px !important;
  font-family: Pavanam;
}

.area-header {
  text-align: center;
  font-family:'Arsenal';
  color:white;
}

.jumbotron .container {
  margin-top: 18rem;
}

img.logo {
  width:25px;
  margin:0 9px 0 0;
}

