.logged {
  background-image: linear-gradient(150deg, #5ee7df 0%, #963fcb 70%);
  height: 100vh;
}

.balance {
  background-color: #8474D2;
  border-radius: 20px;
  padding-bottom: 30px;
}

.table-balance{
  text-align: left;
}

.welcome{
  text-align: center;
  color: #fff;
  margin-top: 8rem;
}
.box-link{
  flex: 1;
  background-color: #F8F8F8;
  box-shadow: inset 2px 3px 98px -29px rgba(177,96,255,1);
  border-radius: 15px;
  height: 210px;
  margin: 30px;
  padding: 60px 0 30px 0;
  text-align: center;
}

.boxes{
  display: flex;
  margin-top: 8rem;
}

.text-box{
   color: #777;
   text-decoration: none;
   font-size: 20px;
   background-color: transparent;
   border: 0;
 }

.text-box:hover{
  color: #963fcb;
  text-decoration: none;
}

.icon-welcome{
  color: #777;
  font-size:50px;
  opacity: 0.8;
}

.icon-welcome:hover{
  color: #963fcb;
  font-size:55px;
}

a:hover{
  color: #4e4d4d;
}

.detail{
  background-color: #F8F8F8;
  border-radius: 15px;
  margin-top: 40px !important;
  width: 95%;
}

.text-right{
  text-align: right;
}

@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width:992px) {
  .boxes{
    display: block;
  }
  .box-link{
    flex: 1;
    background-color: #F8F8F8;
    box-shadow: inset 2px 3px 98px -29px rgba(177,96,255,1);
    border-radius: 15px;
    height: 210px;
    margin: 30px;
    padding: 60px 0 30px 0;
    text-align: center;
  }
}

@media (min-width:992px) {
    .jumbotron-detail{
      display: flex;
    }
    .jumbotron-detail .jumbotron{
      flex: 1;
      margin: 0 10px 30px 0;
    }
}